.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 20%;
}

.topContainer {
  display: flex;
  gap: 3%;
  width: 100%;
  height: 30%;
}

.logoContainer {
  width: 25%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 2%;
  list-style: none;
  white-space: nowrap;
  width: 100%;
}

.navBar::-webkit-scrollbar {
  display: none;
}

.navBar li a {
  font-size: 2vw;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navBar li a:hover {
  text-decoration: underline;
  background-color: #D3D3D3;
}

.seperatorLineB {
  width: 2px;
  height: 25%;
  background-color: black;
  border: 1px solid black;
}

.contentContainerA {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.introDesignContainer {
  width: 100%;
  height: 50%;
}

.introDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5%;
}

.bubble1 {
  width: 20%;
  height: 40%;
}

.bubble2 {
  width: 10%;
  height: 20%;
  margin-top: 15%;
}

.bubble3 {
  width: 15%;
  height: 30%;
  margin-bottom: 12.5%;
}

.bubble4 {
  width: 13%;
  height: 26%;
  margin-top: 7%;
}

.bubble5 {
  width: 17%;
  height: 34%;
  margin-bottom: 2.5%;
}

.titleContainer {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  gap: 15%;
  position: relative;
}

.title1 {
  background-color: beige;
  padding: 3%;
  color: rgb(119, 57, 34);
  margin-bottom: 0;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: underline;
  width: 20%;
  height: 30%;
  text-align: center;
  border: 2px solid black;
}

.decorationBar {
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
  position: absolute;
  top: -3.5%;
  left: 41%;
  width: 30%;
  height: 15%;
  background-color: lightblue;
  border: 2px solid black;
}

.title2 {
  background-color: orange;
  padding: 3%;
  color: rgb(86, 99, 29);
  font-weight: bold;
  text-decoration: underline;
  font-size: 5vw;
  margin-top: 8%;
  border: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  .seperatorLineB {
    background-color: white;
    border: solid white;
  }

  .navBar li a:hover {
    background-color: #1C1C1C;
  }

  .title1 {
    border: 2px solid white;
  }

  .decorationBar {
    border: 2px solid white;
  }

  .title2 {
    border: 2px solid white;
  }
}

.appGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 90%;
  height: 100%;
  gap: 2%;
  row-gap: 5%;
  margin-top: 10%;
}

.appBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.togetherA {
  position: relative;
  height: 100%; 
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: auto;
}

.propContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.phonePropA1 {
  width: 100%;
  height: 100%;
  display: block;
}

.demoContainer {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%;
  overflow: hidden;
}

.appDemoPhoneA {
  width: 90%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.titleB {
  margin-bottom: 15%;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.shortDesc {
  font-size: 1.2vw;
}

.spacer {
  height: 200px;
  width: 100%;
  display: block;
}

@media (max-width: 1000px) {
  .appGrid {
    grid-template-columns: 1fr;
  }

  .navBar li a {
    font-size: 20px;
  }

  .titleB {
    font-size: 25px;
  }

  .shortDesc {
    font-size: 17px;
  }

  .spacer {
    height: 10px;
    margin-top: -300px
  }
}
